.input {
    display: flex;
    width: 90%;
    max-width: 700px;
    position: relative;
    align-items: center;
}

.input_box{
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.5);
    outline: none;
}

.input_submit{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0px;
    border: none;
    background-color: #2f74c0;
    color: white;
    transition: 0.2s all;
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.input_submit:hover {
    background-color: #388ae2;
}

.input_submit:active {
    transform: scale(0.8);
    box-shadow: 0 0 5px black;
}

.todos {
    display: flex;
    justify-content: space-evenly;
    width: 90%;
    flex-wrap: wrap;
}

.todos_single {
    display: flex;
    width: 29.5%;
    border-radius: 5px;
    padding: 20px;
    margin-top: 15px;
    background-color: rgb(232, 232, 232);
    color: black;
    padding: 1.4rem;
    margin-top: 1rem;
}

.todos_single_text{
    flex: 1;
    padding: 5px;
    border: none;
    font-size: 1.2rem;
}

.todos_single_text:focus{
    outline: none;
}

.icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
    color: rgb(0, 149, 191);
    transition: color .3s ease-in-out;
}

.icon:hover{
    color: rgb(0, 102, 131);
}

.todos_single_text{
    background-color: rgb(232, 232, 232);
    border: none;
}

@media screen and (max-width: 800px) {
    .todos_single{
        width: 90%;
    }
}