@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: darkslategrey;
    font-family: 'Neucha', cursive;
}

.heading {
    text-transform: uppercase;
    font-size: 2.4rem;
    margin: 30px 0;
    color: rgb(0, 141, 143);
    text-align: center;
    z-index: 1;
    text-align: center;
}

.no_task_message{
    display: flex;
    flex-direction: column;
    place-items: center;
    padding: 5rem;
    color: rgb(164, 164, 164);
}

.no_task_message .no_task_icon{
    font-size: 6rem;
    color: orange;
}

@media (max-width: 800px) {
    .heading {
        margin: 15px 0;
        font-size: 35px;
    }
}